In [1]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [2]:
#maxTweets = 5000
tweets_list = []

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('edtech since:2021-01-26 until:2021-01-28 lang:en').get_items()):
    #if i>maxTweets:break
    tweets_list.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

In [3]:
tweets_df = pd.DataFrame(tweets_list, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])
tweets_df.head()

,Datetime,Tweet Id,Text,Username
0,2021-01-27 23:59:17+00:00,1354579765626351620,I would really appreciate you sharing this! I...,MrsC_reads
1,2021-01-27 23:58:21+00:00,1354579530904690694,Discovered @text_blaze today. All I have to sa...,mrshirn_edtech
2,2021-01-27 23:56:39+00:00,1354579102972469252,Fan of https://t.co/jq2agxUiMt? Make a One Ti...,HistoryViewVR
3,2021-01-27 23:56:18+00:00,1354579014510383106,*******PLEASE SHARE********\n\nI AM ALLLLLLL A...,educatoralex
4,2021-01-27 23:56:14+00:00,1354578997892550659,✏️ Did you see this awesome writing challenge...,ShakeUpLearning

In [4]:
#tweets_df.to_csv('text-query-tweets1.csv', sep=',', index=False)
tweets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4155 entries, 0 to 4154
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  4155 non-null   datetime64[ns, UTC]
 1   Tweet Id  4155 non-null   int64
 2   Text      4155 non-null   object
 3   Username  4155 non-null   object
dtypes: datetime64[ns, UTC](1), int64(1), object(2)
memory usage: 130.0+ KB

In [5]:
l = [x.strftime("%d")+x.strftime("%b")+x.strftime("%Y") for x in tweets_df['Datetime']]

In [6]:
s = set(l)
s

{'26Jan2021', '27Jan2021'}

In [10]:
maxTweets = 200
tweets_list1 = []

for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:tanishqw18').get_items()):
    if i>maxTweets:
        break
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username])

In [11]:
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])
tweets_df1.head()

,Datetime,Tweet Id,Text,Username
0,2021-03-12 08:45:22+00:00,1370294836213915656,"@Abhinavmir Not to mention, their claims that ...",tanishqw18
1,2021-03-12 08:43:45+00:00,1370294430318567424,@Abhinavmir It's fucking genius- the very idea...,tanishqw18
2,2021-03-11 11:39:39+00:00,1369976309741359107,"@theadnaankhan Although for brands, the accoun...",tanishqw18
3,2021-03-11 11:37:32+00:00,1369975775529635846,@theadnaankhan I feel this whole construct of ...,tanishqw18
4,2021-03-10 20:02:00+00:00,1369740339246891009,"@ankityddv Meanwhile, Data Scientists at Twitt...",tanishqw18

In [9]:
tweets_df1['Text'][0]

'"To build a better world from the Covid crisis, we need a global push to connect the world’s young people." Couldn’t agree more with @timberners_lee as we celebrate the Web’s 32nd birthday today https://t.co/s8ErKwgkqB'